body {
    background-color: bisque;
    background-image: url("vinesss2.jpeg");
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
head {
    text-align: right;
    background-color: pink;
}
h1 {
    font-style: italic;
    color: blanchedalmond;
    font-weight: bold;
    font-size: 35px;
    text-decoration: underline;
}

h2 {
    font-style: italic;
}

p {
    color: blanchedalmond;
    font-weight: bold;
    font-size: 35px;
    font-style: italic;
    text-decoration: underline;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* float: right; */
  overflow: hidden;
}

li {
    color: beige;
    display: inline;
    float: right;
    background-color: rgba(198, 151, 112, 0.99);
    border-radius: 10px;
}

a {
  display: block;
  padding: 8px;
  color: blanchedalmond;
}

style {
  box-sizing: border-box;
}


img {
    border: 1px solid;
    border-radius: 50%;
    width: 350px;
    /* margin-top: 150px; */
    margin-right: 80px;
    float: right;
    border: 1px solid transparent;
    padding: 15px;
    background-color: rgb(121, 30, 121);
    opacity: 1.2;
    filter: drop-shadow(0 -6mm 4mm rgb(88, 9, 88));
}

.row {
  position: relative;
  float: left;

}
  /* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 20%;
    padding: 20px;
    margin: auto;
    column-gap: 40px;
  }

.row:after{
    /* content: */
    display: table;
    clear: both;
} */

.topnav {
  background-color: antiquewhite;
  justify-content: center;
}
.topnav a {
  float: left;
  font-size: 35px;
  padding: 14px 16px;
  text-align: center;
  color: purple;
}

.container {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    margin-top: 150px;
}

.text {
    text-align: center; /* Center text inside .text div */
    margin-right: 20px; /* Add space between text and image */
    font-family: cursive;
    color: blanchedalmond;
}

