body {
    background-color: bisque;
    background-image: url("photo-1512386233331-f023884a92e8.avif");
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
head {
    text-align: right;
    background-color: pink;
}
h1 {
    text-align: center;
    font-style: italic;
    font-size: xx-large;
    color: purple;
    margin: auto;
}

h2 {
    font-style: italic;
}
p {
    color: rgb(246, 246, 207); 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* float: right; */
  overflow: hidden;
}

li {
    color: beige;
    display: inline;
    float: right;
}

a {
  display: block;
  padding: 8px;
}

style {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
    border: 1px solid;
    border-radius: 35px;
    /* padding: 5px; */
    margin-top: 100px;
    margin-right: 100px;
    float: right;
    width: 350px;
    /* height: auto; */
}
/* img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  } */

.row {
  position: relative;
  float: left;

}
  /* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 20%;
    padding: 20px;
    margin: auto;
    column-gap: 40px;
  }

.row:after{
    /* content: */
    display: table;
    clear: both;
} */

.topnav {
  background-color: antiquewhite;
  justify-content: center;
}
.topnav a {
  float: left;
  font-size: 35px;
  padding: 14px 16px;
  text-align: center;
  color: purple;
}
  
